.aside {
    width: 21vw; 
    background: var(--bg-black-100);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 30px 15px; 
    border-right: 1px solid var(--bg-black-50);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    z-index: 10;
    transition: all 0.3s ease;
    font-size: 1.1rem; 
}

.aside .logo {
    font-size: 2rem;
    text-transform: capitalize;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    font-size: 1.99rem;
    letter-spacing: 5px;
    position: relative;
    text-decoration: none;
}

.aside .logo a span {
    color: var(--skin-color);
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 275px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 11;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
}

.aside .nav-toggler span::before,
.aside .nav-toggler span::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.aside .nav-toggler span::before {
    top: -6px;
}

.aside .nav-toggler span::after {
    top: 6px;
}

.aside .nav-toggler.open span {
    background-color: transparent;
}

.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav {
    flex-grow: 1;
    width: 80%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside .nav li {
    margin: 0;
}

.aside .nav li a {
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-black-900);
    text-decoration: none;
    padding: 8px 18px 4px 18px;
    border-bottom: 1px solid var(--bg-black-50);
    transition: color 0.3s ease;
}

.aside .nav li a:hover {
    color: var(--skin-color);
}

.aside .nav li a.active {
    color: var(--skin-color);
    font-size: 1.7rem;
}

.aside .nav li a i {
    margin-right: 15px;
}

.aside .aside-social {
    font-size: 1.8rem;
    display: flex;
    gap: 1rem;
}

.aside .aside-social a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 0 5px;
    transition: color 0.3s ease;
}

.aside .aside-social a:hover {
    color: var(--skin-color);
}

@media (max-width: 1199px) {
    .aside {
        width: 280px;
        padding: 25px 20px;
        font-size: 1rem;
    }

    .aside .nav-toggler {
        left: 235px;
    }
}

@media (max-width: 992px) {
    .aside {
        left: -280px;
        width: 280px;
        font-size: 1rem;
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggler {
        display: flex;
    }
}
