/* home*/
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    margin-top: 5%;
    margin-left: 1.5%;
    flex: 0 0 55%;
    max-width: 58.5%;
}

h3.hello {
    font-size: 30px;
    margin: 15px 0;
}

h3.hello span {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: 500;
    color: var(--skin-color);
    position: relative;
    top: 2px;
}

h3 .mounitain {
    height: 30px;
    width: 30px;
    position: relative;
    top: 10px;
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 5vh;
    font-size: 1rem;
    color: var(--text-black-700);
    text-align: justify;
}

.home .home-img {
    flex: 0 0 37%;
    max-width: 37%;
    text-align: center;
    position: relative;
    margin: auto;
    padding: 0px;

}

.home .home-img #profile {
    border-radius: 5%;
    height: 60vh;
    width: 17vw;
    border: 2px solid var(--text-black-900);
}

.home .home-img #profile :hover {
    border: 2px solid var(--btn-color);
}

/*
.home-img::before{
    content:' ';
    position:absolute;
    height:20px;
    width:80px;
    border-top:10px solid #3bd6d6;
    border-left:10px solid #3bd6d6;
    left:-20px;
    top:-20px;
}

.home-img::after{
    content:' ';
    position:absolute;
    height:20px;
    width:80px;
    border-bottom:10px solid #3bd6d6;
    border-right:10px solid #3bd6d6;
    right:-20px;
    bottom:-30px;  
}
*/

.home .home-img img {
    margin: auto;
    height: 500px;
}